body {
  background-color: #0d2235;
}
img {
  max-width: 100%;
}

h1 {
  color: white;
  text-align: left;
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 50px;
  margin-top: 80px;
}
h1::after {
  content: "";
  width: 100px;
  height: 6px;
  background-color: #66a2fe;
  display: block;
}
.container img {
  margin-top: 150px;
}

label {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-top: 2rem;
}
input[type="submit"] {
  margin-top: 20px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  height: auto;
}
.error {
  background-color: #b7322c;
  padding: 1rem;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.resultado {
  color: white;
}
.resultado h2 {
  font-weight: bold;
  color: white;
}

.resultado p {
  font-size: 18px !important;
}
.resultado p span {
  font-weight: bold;
}
p.precio {
  font-size: 30px !important;
}

@media (min-width: 480px) {
  form {
    margin-top: 150px;
  }
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1,
.cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  }
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  }
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  }
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
      scale(0.5);
  }
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
